@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  min-height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}
/* Headers */
.header{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #8FBC8F;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 2px solid rgb(255, 191, 0);
}
.header-buttons{
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}
.header-buttons button{
  padding: 1vw;
  border: none;
  border-radius: 1vh;
}
/* form buttons */
.form-buttons input, .header-buttons button{
  cursor: pointer;
}
.form-buttons input:hover, .header-buttons button:hover{
  background-color: rgb(255, 255, 255);
}
.form-buttons{
  display: flex;
  gap: 1vw;
}
.form-buttons > input{
  flex: 1;
  padding: 1vh;
  border-radius: 1vw;
}
.form-buttons > input{
  border: none;
}
