@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
}
body{
  min-height: 100vh;
}
/* Headers */
.header{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #8FBC8F;
  color: white;
  font-size: 2rem;
}
.header-buttons{
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}
.header-buttons button{
  padding: 1vw;
  border: none;
  border-radius: 1vh;
}
/* main container */
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: #FFF8DC;
}
.input-container, .input-elements{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 20vw;
}
.input-elements input{
  padding: 1vh 1vw;
  border-radius: 1vw;
}
.input-buttons{
  display: flex;
  gap: 1vw;
}
.input-buttons button{
  flex: 1;
  padding: 1vh;
  border-radius: 1vw;
}
/* buttons */
.input-buttons button, .header-buttons button{
  cursor: pointer;
}
.input-buttons button:hover, .header-buttons button:hover{
  background-color: rgba(255, 255, 255, 0.9);
}